@charset "utf-8";
/* CSS Document */

body
{
	margin: 0px auto;
	background:#f0f0f0;
	font-family:Arial, Helvetica, sans-serif;	
}


.TopHeader
{
	margin: 0px;
	padding:0px;
	background:url(../images/headerBG.jpg) top repeat-x;
	height:40px;
	width:100%;	
}

.partition
{
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
	width:100%;
	height:9px;
	clear:both;
	background:url(../images/Partition.jpg) bottom repeat-x;	
}

.TopHeader .WebName
{
	margin: 10px 0px 0px 10px;
	padding: 0px;
	float:left;
	color:#f0f0f0;
	font-size:16px;
}

.TopHeader .SearchArea
{
	margin: 7px 10px 0px 0px;
	padding: 0px;
	float:right;
	color:#f0f0f0;
	font-size:18px;
	display:block;
	background:#f0f0f0;
	border:none;
	border-radius:5px;
	overflow:hidden;
}

.TopHeader .SearchArea input[type=text]
{
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 5px 10px;
	color:#999999;
	width: 80px;
	font-size:12px;
	border:none;
	background:#f0f0f0;
	outline:none;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.TopHeader .SearchArea input[type=submit]
{
	margin: 5px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	color:#333;
	width: 12px;
	height:16px;
	overflow:hidden;
	background: url(../images/SearchICO.png) center no-repeat;
	border:none;
	color:rgba(0, 0, 0, 0);
	border-radius:5px;
}

.ContentArea
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	clear:both;
	width:100%;
	height:auto !important;
}

/*Left Area*/
.ContentArea .LeftBar
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:left;
	min-height:800px;
	height:auto !important;
	width:20%;
	background:#272930;
}

.ContentArea .LeftBar .LeftbarContent
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 20px 0px;
	clear:both;
	height:auto;
	width:auto;
}

.ContentArea .LeftBar .UserArea
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	clear:both;
	height:auto;
	overflow:hidden;
}

.ContentArea .LeftBar .UserArea img
{
	margin: 0px 0px 0px 0px;
	width:100%;
	clear:both;
	overflow: hidden;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.ContentArea .LeftBar .UserArea img:hover
{
	margin: 10px 0px 0px 0px;
	border-radius:100%;
	width:70%;
}

.ContentArea .LeftBar .UserArea .AdminName
{
	margin: 10px 0px 0px 2.5%;
	font-size:20px;
	text-align:left;
	width:100%;
	overflow:hidden;
	clear:both;
	color:#f0f0f0;
}

.ContentArea .LeftBar .UserArea .AdminEmail
{
	margin: 1px 0px 0px 2.5%;
	font-size:14px;
	text-align:left;
	width:100%;
	overflow:hidden;
	clear:both;
	color:#f0f0f0;
}

.ContentArea .LeftBar .UserArea .SignOut
{
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	font-size:12px;
	text-align:center;
	width:95%;
	clear:both;
	color:#f0f0f0;
	display:block;
	background:#3968a4;
	border-radius:5px;
	text-decoration:none;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.ContentArea .LeftBar .UserArea .SignOut:hover
{
	background:#ce4b27;
}


.ContentArea .LeftBar .UserArea .Users
{
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	font-size:12px;
	text-align:center;
	width:95%;
	clear:both;
	color:#f0f0f0;
	display:block;
	background:#b51c44;
	border-radius:5px;
	text-decoration:none;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.ContentArea .LeftBar .UserArea .Users:hover
{
	background:#ce4b27;
}


.ContentArea .LeftBar .UserArea .Users:hover .Count
{
	font-size: 52px;
}


.ContentArea .LeftBar .UserArea .Users .Count
{
	margin: 0px;
	text-align:center;
	display:block;
	font-size:38px;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}


.ContentArea .LeftBar .UserArea .Users .Heading
{
	margin: 0px 0px 0px 0px;
	text-align:center;
	display:block;
	font-size:18px;
}

/* Right Area*/

.ContentArea .RightArea
{
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	float:right;
	height:auto;
	width:77%;
	/*border:1px solid #000;*/
}

.ContentArea .RightArea .icoArea
{
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	height:auto;
	width:100%;
	display:block;
}

.ContentArea .RightArea .icoArea a
{
	margin: 10px 0px 0px 0px;
	float:left;
}

.ContentArea .RightArea .icoArea a img
{
	border:none;
}

.ContentArea .RightArea .icoArea a:nth-child(2)
{
	margin-left:5px;
}

.ContentArea .RightArea .icoArea p
{
	margin: 10px 0px 0px 0px;
	padding:7px 15px 7px 15px;
	font-size:14px;
	float:right;
	background:#264773;
	border-radius:5px;
	overflow:hidden;
	color:#f0f0f0;
}

.ContentArea .RightArea .Menu
{
	margin: 5px 0px 0px 0px;
	padding: 5px 0px 15px 0px;
	clear:both;
	height:auto;
	width:100%;
	background:#272930;
	border-radius:5px;
	overflow:hidden;
}


.ContentArea .RightArea .Menu ul
{
	margin: 12px 10px 10px 10px;
	padding: 0px 0px 0px 0px;
}

.ContentArea .RightArea .Menu ul li
{
	margin: 0px 0px 0px 7px;
	padding: 0px 0px 0px 0px;
	float:left;
	list-style:none;
}

.ContentArea .RightArea .Menu ul li a
{
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 15px 10px;
	color:#f0f0f0;
	width: 60px;
	text-decoration:none;
	display:block;
	border-radius:5px;
	overflow:hidden;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}


.ContentArea .RightArea .Menu ul li:nth-child(1) a:hover,
.ContentArea .RightArea .Menu ul li:nth-child(2) a:hover,
.ContentArea .RightArea .Menu ul li:nth-child(3) a:hover,
.ContentArea .RightArea .Menu ul li:nth-child(4) a:hover,
.ContentArea .RightArea .Menu ul li:nth-child(5) a:hover,
.ContentArea .RightArea .Menu ul li:nth-child(6) a:hover

{
	background:#3968a4;
}

.ContentArea .RightArea .Menu ul li a:hover img
{
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}

.ContentArea .RightArea .Menu ul li:nth-child(1) a{background:#b51c44;}
.ContentArea .RightArea .Menu ul li:nth-child(2) a{background:#ce4b27;}
.ContentArea .RightArea .Menu ul li:nth-child(3) a{background:#5b3ab6;}
.ContentArea .RightArea .Menu ul li:nth-child(4) a{background:#a300aa;}
.ContentArea .RightArea .Menu ul li:nth-child(5) a{background:#00856e;}
.ContentArea .RightArea .Menu ul li:nth-child(6) a{background:#ba0474;}

.ContentArea .RightArea .Menu ul li a img
{
	display:block;
	clear:both;
	border:none;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.ContentArea .RightArea .Menu ul li a label
{
	margin: 5px 0px 0px 0px;
	display:block;
	clear:both;
	font-size:14px;
	cursor:pointer;
}

.ContentArea .RightArea .FormAbt
{
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 20px 0px;
	display:block;
	clear:both;
	width:100%;
	height:auto;
	border:1px solid #e2e2e2;
	border-radius:5px;
	overflow:hidden;
	background:#fafafa;
}

.ContentArea .RightArea .FormAbt table
{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:95%;
	height:auto;
	overflow:hidden;
	background:#fafafa;
}


.ContentArea .RightArea .FormAbt table h2
{
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color:#51555c;
	font-size:24px;
	text-align:left;
}


.ContentArea .RightArea .FormAbt table input[type=text]
{
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	color:#3c3f49;
	font-size:14px;
	text-align:left;
	outline:none;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 50%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fcfcfc), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fcfcfc 50%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
	border:none;
	border:1px solid #dddddd;
	border-radius:5px;
	width:60%;
}

.ContentArea .RightArea .FormAbt table textarea
{
	margin: 0px 10px 0px 10px;
	padding: 10px 10px 10px 10px;
	color:#3c3f49;
	font-size:14px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	outline:none;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 50%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#fcfcfc), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#fcfcfc 50%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#fcfcfc 50%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
	border:none;
	border:1px solid #dddddd;
	border-radius:5px;
	width:92%;
	height:120px;
}



.ContentArea .RightArea .FormAbt table input[type=submit]
{
	margin: 5px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	color:#efefef;
	font-size:14px;
	outline:none;
	border:none;
	background:#3a68a6;
	border:1px solid #30588e;
	border-radius:5px;
	width:100%;
}
