@charset "utf-8";
/* CSS Document */
body
{
    margin: 0px;
    padding: 0px;
    /*overflow: hidden;*/
}

.container
{
    height: auto;
    margin: 0px auto;
}

.header
{
    margin: 0px auto;
}

.header-bg
{
    background: url(../images/headerbg.png) repeat-x;
    height: 100px;
    margin: 0px auto;
}

.header-profile
{
    height: 40%;
    margin: -35px auto auto auto;
}

.left-profile
{
    margin-left: 5%;
    float: left;
    font-size: 25px;
    color: #fff;
    font-family: arial;
}

.profile-pic
{
    background: url(../images/profile-img.png);
    width: 103px;
    height: 102px;
    float: right;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -10px;
    border: 3px solid #FFF;
}

.right-profile
{
    width: 50%;
    height: 120px;
    margin-left: 1%;
    float: left;
}

.page-heading-bg
{
    height: 35px;
    background: #d7950b;
    border: 1px solid #93908f;
    box-shadow: 1px 1px 0px 0px #999;
}

.page-heading
{
    margin: 0 1%;
    height: 25px;
    padding: 5px;
    color: #FFF;
    font-family: Arial;
    font-size: 110%;
}

.profile-name
{
    font-size: 130%;
    color: #FFF;
    font-family: Verdana;
    width: 90%;
    padding: 3px;
}

.socialicon-heading
{
    font-size: 130%;
    color: #000;
    font-family: Verdana;
    padding: 3px;
    border-bottom: 3px solid #999999;
}

.social-icon
{
    width: 180px;
    height: auto;
    margin: 10px 0 0 5px;
}

.content-area
{
    width: 100%;
    height: auto;
    margin: 0;
}


.input-bg
{
    margin-top: 1%;
    background: #2c2c2d;
    border: 1px solid #93908f;
    box-shadow: 1px 1px 0px 0px #999;
}

    .input-bg input[type=text]
    {
        background: none;
        color: #FFF;
        font-family: Arial;
        font-size: 94%;
        border: medium none;
        margin: 1%;
        height: 30px;
		padding-top: 10px;
    }

    .input-bg input[type=button]
    {
        background: none;
        width: 100%;
        height: 40px;
        margin: 0px 0px 0px 5px;
        color: #FFF;
        font-family: Arial;
        font-size: 16px;
        border: none;
    }

    .input-bg Textarea
    {
        background: none;
        width: 60%;
        height: 120px;
        margin: 0px auto;
        color: #FFF;
        font-family: Arial;
        font-size: 16px;
        border: none;
    }

.content-area label
{
    color: #fff;
    font-family: Arial;
    margin-left: 15px;
    padding-right: 15%;
    font-size: 94%;
    border-right: 1px solid #fff;
}


#left-input
{
    border-right: 1px solid #FFF;
    width: 40%;
}


.footer-area
{
    width: 100%;
    height: 40px;
    margin: 2% 0 0 0;
    /*background:#2c2c2d;*/
    background: #641917;
    position: fixed;
    bottom: 0;
}

.footer
{
    margin: 0;
    border: 1px solid;
}

    .footer li
    {
        width: 24.5%;
        height: auto;
        float: left;
        display: inline;
        border-right: 1px solid #FFF;
    }

        .footer li a
        {
            width: 100%;
            height: auto;
            float: left;
        }

            .footer li a:hover
            {
                width: 100%;
                height: auto;
                border-top: 5px solid #d7950b;
                float: left;
                margin-top: -5px;
            }

            .footer li a.active
            {
                border-top: 5px solid #d7950b;
                margin-top: -5px;
            }

.profile-icon
{
    background: url(../images/contact-icon.png) no-repeat;
    width: 25px;
    height: 20px;
    margin: 5px auto;
    overflow: hidden;
}

.email-icon
{
    background: url(../images/mail-icon.png) no-repeat;
    width: 25px;
    height: 20px;
    margin: 5px auto;
    overflow: hidden;
}

.chat-icon
{
    background: url(../images/msg-icon.png) no-repeat;
    width: 25px;
    height: 20px;
    margin: 5px auto;
    overflow: hidden;
}

.share-icon
{
    background: url(../images/share-icon.png) no-repeat;
    width: 25px;
    height: 20px;
    margin: 5px auto;
    overflow: hidden;
}

.contact-list
{
    color: #fff;
    padding: 10px 0 0 15px;
    margin: 5px;
    margin-top: 1%;
    background: #2c2c2d;
    border: 1px solid #93908f;
    box-shadow: 1px 1px 0px 0px #999;
    font-family: Calibri;
    font-size: 120%;
    height: 30px;
}

.message-btn
{
    background: url(../images/message-btn.jpg);
    width: 130px;
    height: 35px;
    border: none;
    margin-top:10px;
    float:left;
   
}

.call-btn
{
    background:url(../images/call-btn.jpg);
    width: 130px;
    height: 35px;
    border: none;
    margin-top:10px;
    float:right;
    
}

.chat-btn
{
    background: url(../images/chat-btn.jpg);
    width: 130px;
    height: 35px;
    border: none;
    float:left;
    margin-top:5px;
    
}

.close-btn
{
    background: url(../images/close-btn.jpg);
    width: 130px;
    height: 35px;
    border: none;
   float:right;
   margin-top:5px;
}





#displayName
{
    height: 100%;
    width: 100%;
    /*overflow-y: scroll;*/
    /*margin-bottom: 50px;*/
}

.logo1
{
    background: url(../images/logo1.png) no-repeat;
    width: 200px;
    height: 141px;
    margin: 0 auto;
}

.textarea
{
    margin-top: 1%;
    background: #2c2c2d;
    border: 1px solid #93908f;
    width: 65%;
    height: 40px;
    border: none;
}






/*popup style*/


/* Styles for dialog window */
#small-dialog
{
    background: white;
    padding: 20px 30px;
    text-align: left;
    max-width: 400px;
    margin: 40px auto;
    position: relative;
}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog
{
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog
{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg
{
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg
{
    opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg
{
    opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog
{
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog
{
    opacity: 1;
    -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
    transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog
{
    opacity: 0;
    -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
    transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg
{
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg
{
    opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg
{
    opacity: 0;
}

#overlay_form
{
    position: fixed;
    border: 5px solid gray;
    border-radius: 18px;
    padding: 10px;
    background: white;
    width: 270px;
    height: 410px;
    left: 18%;
    top: 20%;
}

#divPopup_editEmail
{
    position: absolute;
    border: 5px solid gray;
    border-radius: 18px;
    padding: 10px;
    background: white;
    width: 200px;
    height: 80px;
    left: 20%;
    top: 35%;
    position: absolute;
}

#divPopup_editAddress
{
    position: absolute;
    border: 5px solid gray;
    border-radius: 18px;
    padding: 10px;
    background: white;
    width: 200px;
    height: 80px;
    left: 20%;
    top: 35%;
    position: absolute;
}


#pop
{
    display: block;
    border: 1px solid gray;
    width: 65px;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 auto;
}

/*   toggle Menu */
.toggler
{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#button
{
    padding: .5em 1em;
    font-size: 0;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 150px;
    background: url(../images/BtnResource.png) no-repeat left top;
    width: 100px;
    height: 30px;
    left: 1%;
    z-index: 999999;
}

#effect
{
    position: absolute;
    padding: 0.4em;
    background: #333;
    width: 85%;
    z-index: 9999;
    top: 180px;
}

ul#nav
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 97%;
    padding: 0 5px;
}

    ul#nav li
    {
        margin: 0 0 10px 0;
        padding: 0;
        line-height: 20px;
    }

        ul#nav li a, nav li a:visited
        {
            margin: 0;
            padding: 0;
            display: block;
            color: #999;
            background: #111111;
            text-decoration: none;
            padding: 9px 15px;
            box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
            -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

            ul#nav li a:hover
            {
                color: #ffffff;
            }
/* ends */



.resourcediv
{
    padding: 15px;
    background-color: #F7F7F7;
    margin: 5px;
    font-family: sans-serif;
    line-height: 1.4;
    text-align: justify;
    border: #999 solid;
    /*-webkit-overflow-scrolling: touch;*/
}

.btnMulti
{
    background: #701D1A;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin:20px 0 50px 35%;
    text-decoration: none;
    font-size: 15px;
    width: 26%;
    height: 35px;
    position:fixed;
}

.btnclose
{
    background: #701D1A;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 15px;
    width: 26%;
    height: 35px;
}
.back
{
    float: right;
background-color: #701D1A;
border: none;
margin-top: 6px;
margin-right: 29px;
width: 50px;
height: 24px;
color: #fff;
 border-radius: 5px;
    
    }